#Samsung NFC hidl rc
import /vendor/etc/init/hw/android.hardware.nfc@1.2-service.sec.rc

on early-boot
    # Audio
    setprop persist.audio.fluence.voicecomm true

    # Camera
    setprop persist.camera.ffcolor FFDAB9
    setprop persist.capture.burst.exposures 0,-9,9

    # Fingerprint
    setprop ro.hardware.fingerprint elan

    # NFC
    setprop ro.hardware.nfc_nci sec

    # Radio
    setprop ro.rf.power.reduction.for.mcc 1
    
    # USB Tethering
    setprop vendor.usb.rndis.func.name "rndis_bam"
    setprop vendor.usb.rmnet.func.name "rmnet_bam"
    setprop vendor.usb.rmnet.inst.name "rmnet"
    setprop vendor.usb.dpl.inst.name "dpl"
    setprop vendor.usb.qdss.inst.name "qdss"
    write /sys/module/usb_f_qcrndis/parameters/rndis_dl_max_xfer_size 15916
    setprop sys.usb.configfs 1

on boot
    # Fingerprint
    chown system system /dev/elan_fp
    chmod 0644 /dev/elan_fp

on post-fs-data
    # Fingerprint
    mkdir /data/system/fingerprint 0770 system system


    # NFC storage
    mkdir /data/nfc
    mkdir /data/vendor/nfc 0770 nfc nfc
    mkdir /data/vendor/nfc/param 0770 nfc nfc
    chown nfc nfc /dev/sec-nfc
    chmod 0770 /dev/sec-nfc

on property:sys.fih.fingerprint=false
    setprop sys.fih.fingerprint true

on property:vendor.sys.cmd_test=1 && property:ro.boot.fp=elan
    setprop vendor.sys.fqcfpret 0
    start ElanPrintf_1

on property:vendor.sys.fqcaudio=11
   start fqcaudioloopback

on property:vendor.sys.fqcaudio=10
    start fqcaudioloopback

on property:vendor.sys.fqcaudio=21
    start fqcaudioloopback

on property:vendor.sys.fqcaudio=20
    start fqcaudioloopback

on property:vendor.sys.fqcaudio=31
    start fqcaudioloopback

on property:vendor.sys.fqcaudio=30
    start fqcaudioloopback

service vendor.fps_hal /vendor/bin/hw/android.hardware.biometrics.fingerprint@2.1-service
    class late_start
    group system input
    user system
    writepid /dev/cpuset/system-background/tasks

service ElanPrintf_1 /vendor/bin/ElanPrintf test_tool all 800 14200
    user system
    oneshot
    disabled

service fqcaudioloopback /vendor/bin/fqcaudioloopback_c1n.sh
    user system
    oneshot
    disabled
