on boot
    # Fingerprint
    chown system system /dev/elan_fp
    chmod 0644 /dev/elan_fp

on post-fs-data
    # NFC storage
    mkdir /data/vendor/nfc 0770 nfc nfc
    mkdir /data/vendor/nfc/param 0770 nfc nfc

service nfc_hal_service /vendor/bin/hw/android.hardware.nfc@1.2-service.samsung
    override
    class hal
    user nfc
    disabled
    group nfc

service vendor.nfc_hal_service /vendor/bin/hw/android.hardware.nfc@1.2-service
    override
    interface android.hardware.nfc@1.2::INfc default
    interface android.hardware.nfc@1.1::INfc default
    interface android.hardware.nfc@1.0::INfc default
    class hal
    user nfc
    group nfc
    disabled

on property:ro.boot.nfc=sec
    chown nfc nfc /dev/sec-nfc
    chmod 0770 /dev/sec-nfc
    setprop ro.hardware.nfc_nci sec
    enable nfc_hal_service

on property:ro.boot.nfc=nxp
    chmod 0660 /dev/nq-nci
    chown nfc nfc /dev/nq-nci
    setprop ro.nfc.port "I2C"
    setprop ro.hardware.nfc_nci nqx.default
    enable vendor.nfc_hal_service

on property:sys.boot_completed=1
    exec u:r:vendor_init:s0 -- /vendor/bin/toybox_vendor find /data/system/users -type d \
         -exec /vendor/bin/toybox_vendor setfattr -x security.sehash {} \;
    restorecon_recursive /data/system/users/

on property:ro.boot.simslot=1
    setprop persist.radio.multisim.config ss

on property:ro.boot.simslot=2
    setprop persist.radio.multisim.config dsds
